*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
build/
release/

.gradle/
local.properties
.kotlin/

*.jks
*.keystore
agconnect-services.json
google-services.json

.idea/
*.iml
*.ipr
*.iws
.DS_Store
captures/
.externalNativeBuild/
.cxx/

*.log
keystore.properties
